{% extends "django_messages/base.html" %}
{% load i18n %}

{% block content %}
<div class="features">
<h1>Просмотр сообщения</h1>
<dl class="message-headers">
    <dt>Тема</dt>
    <dd><strong>{{ message.subject }}</strong></dd>
    <dt>Отправитель</dt>
    <dd>{{ message.sender }}</dd>
    <dt>Дата</dt>
    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd>
    <dt>Получатель</dt>
    <dd>{{ message.recipient }}</dd>
</dl>
{{ message.body|linebreaksbr }}<br /><br />

{% ifequal message.recipient.pk user.pk %}
<a href="{% url 'messages_reply' message.id %}">Ответить</a>
{% endifequal %}
<a href="{% url 'messages_delete' message.id %}">Удалить</a>

{% comment %}Example reply_form integration
{% if reply_form %}
<h1>Написать ответ</h1>
<form action="{% url 'messages_reply' message.id %}" method="post">
{% csrf_token %}
<table>
{{ reply_form.as_table }}
</table>
<input type="submit" value="Отправить;"/>
</form>
{% endif %}
{% endcomment %}
{% endblock %}
</div>